/* Global */
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: "Geeza Pro",
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    sans-serif;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Header */

header {
    display: flex;
    align-items: center;
}

header nav {
    margin-right: auto;
}
/* Content */
main {
    flex-grow: 1;
}

/* Footer */
footer p{
    text-align: center;
    direction: ltr;
}

/* Form */
label, textarea {
    display: block;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        width: 1140px;
    }
}
